body{
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}
header{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
header div h1{
    margin: 0;
}
header div img{
    margin: 0
;
}
main{
    height: 85vh;
    width: 100vh;
}
nav a {
    text-decoration: none;
margin: 56px 40px 0 40px;


}
.main{
    width: 1440px;
    height: 1024px;
    flex-shrink: 0;
}
.button{
    margin: 46px 129px 0 0;
    border-radius: 5px;
    border: 1px solid black;
;backdrop-filter: blur(1px);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}
.build{
    color: #FFF;

    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px; /* 105% */
   margin:230px 738px 0 120px ;
    width: 582px;

}
.text{
    width: 536px;
    height: 117px;
}
.img{
    margin: 107px 52px 3613px 732px;
}



