body{
 width: 100vw;
    display: flex;
    justify-content: center;
    color: white;
    background: #19191B;
    flex-direction: column;

}
.first{
    height: 1024px;

}
main{

    height: 90vh;
}
header{
    height: 10vw;
    display: flex;
    justify-content:space-around;
}
.gg{
    position: absolute;
    left: 120px;
    top: 50px;
    font-family: "Montserrat", sans-serif;
}
header h1{
    margin:0 0 0 100px;
}
nav>a{
    text-decoration: none;
   margin: 48px 40px 0 40px;
    color: white;
    font-size: 18px;
}
nav{
    margin-top: 50px;
}
.button{
    width:157px ;
    height: 44px;
    border: 1px solid white;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 40px;
    position: absolute;
    right: 120px;
    font-family: "Lato", sans-serif;
}
main{
    display: flex;
}
.text{
    flex-direction: column;
    margin-top: 5vh;
}
.h{
    font-size: 38px;
    margin-left: 120px;
    font-family: "Lato", sans-serif;

}
.p{

    height: 117px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
    margin-left: 120px;
    font-family: "Lato", sans-serif;
}
.buttonn{
    width: 204px;
    height: 58px;
    border: 1px solid white;
    background-color: cornflowerblue;
    font-size: 20px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left:120px ;
    margin-top: 50px;
    font-family: "Lato", sans-serif;
}
.img{
   margin:0;
    width: 656px;
    height: 713px;
    flex-shrink: 0;
    position:absolute;
    right:52px;
}
.second{
    width:100% ;
    height:20vh ;
    display: flex;
}

.why{
    width: 700px;
    height: 252px;
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 116.667% */
    margin-left:120px;
    font-family: "Lato", sans-serif;
}
.watch{
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
    position: absolute;
    right: 120px;
}
.imgimg{
    margin: 0 365px 0 120px;

}
.imgimgimg{
    width: 1200px;
}
.third{
    height: 1024px;
}
.the{
   
    margin: 150px 0 0 0;
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 116.667% */
   display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
}
.block{
    height: 600px;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;

}
.hh{
    width: 299px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-left: 170px;
}
.pp{
    color: white;
    margin-top: 24px;
    width: 299px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
    text-align: center;
    margin-left:165px ;
}
.oval {
    position: relative;
    left: 278px;
}
.code {
    left: 297px;
    bottom: 53px;
    position: relative;
}
.blockk{
    margin-top: 100px;
}
.ovalred{
    position: relative;
    left: 278px;
}
.layer{
    left: 297px;
    bottom: 55px;
    position: relative;
}
.hhh{
    width: 299px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-left: 170px;
}
.ppp{
    color: white;
    margin-top: 24px;
    width: 299px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
    text-align: center;
    margin-left:165px ;
}
.midle{
    margin-top: 100px;
}
.ovall{
    position: relative;
    left: 278px;
}
.codee{
    left: 297px;
    bottom: 56px;
    position: relative;
}
.hhhh{
    width: 299px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-left: 170px;
}
.pppp{
    color: white;
    margin-top: 24px;
    width: 299px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
    text-align: center;
    margin-left:165px ;
}
.blockkkk{
    margin-top: 100px;
}
.ovalik{
    position: relative;
    left: 278px;
    margin-bottom: 35px;
}
.align{
    left: 297px;
    top: 54px;
    position: relative;
}
.he{
    width: 299px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-left: 170px;
}
.pe{
    color: white;
    margin-top: 24px;
    width: 299px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
    text-align: center;
    margin-left:165px ;
}
.secblock{
    margin-top: 100px;
}
.ovaler{
    position: relative;
    left: 278px;
    margin-bottom: 35px;
}
.camera{
    left: 297px;
    top: 54px;
    position: relative;
}
.ha{
    width: 299px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-left: 170px;
}
.pa{
    color: white;
    margin-top: 24px;
    width: 299px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
    text-align: center;
    margin-left:165px ;
}
.thirdblock{
    margin-top: 100px;
}
.pi{
    color: white;
    margin-top: 24px;
    width: 299px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
    text-align: center;
    margin-left:165px ;
}
.hi{
    width: 299px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-left: 170px;
}
.ovalor{
    position: relative;
    left: 278px;

}
.video{
    left: 297px;
  bottom: 53px;
    position: relative;
}
.fourthblock{
    margin-top: 135px;
}
.har{
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 200px 0 0 120px;
}
.xxx{
     width: 100vw;
     display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    margin: 190px 0 0 120px;
}
.img28{
    width: 336px;
    height: 253px;
    flex-shrink: 0;
    position: relative;
    left: 24px;
    top: 24px;

}
.haha{
    width: 384px;
    height: 301px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #1E1E20;
    position: relative;
    top: 20px;
}
.img29{
    width: 336px;
    height: 253px;
    flex-shrink: 0;
    position: relative;
    left: 24px;
    top: 24px;
}
.img30{
    width: 336px;
    height: 253px;
    flex-shrink: 0;
    position: relative;
    left: 24px;
    top: 24px;
}
.lei{
    width: 100%;
    height: 506px;
    flex-shrink: 0;
    background: rgba(30, 30, 32, 0.50);
    margin-top: 260px;
    display: flex;
    align-items: center;
}
.contact{
    width: 826px;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
margin-left: 120px;
}
.but{
    width: 201px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5454D4;
    color: #FFF;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   margin-left: 615px;

}
.bottomm{
    height: 190px;
    width: 100%;
    display: flex;
}
.logologo{
    margin: 50px 0 101px 120px;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
}
.huinya{
    margin: 51px 0 101px 1285px;
    color: rgba(255, 255, 255, 0.70);

    text-align: right;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    letter-spacing: -0.5px;
}