
 .first>ol>li:nth-child(even){
 color: pink;
}
.second>ol>li:nth-child(odd){
    font-size: 22px;
}
.third>ol>li:nth-child(2n+4):after{content: "!";
}
.fourth>ol>li:last-child{
    color:purple;
}
.fifth>ol>li:first-letter{
    font-size: 30px;
    color: red;
}